<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiweilai.DreamArchive.mapper.DreamMapper">

    <!-- 插入梦境 -->

    <insert id="insertDream" parameterType="com.yiweilai.DreamArchive.DTO.Dream">
        INSERT INTO dream(id,time,place,emotion,content,interpretation)
        VALUES (#{id}, #{time}, #{place}, #{emotion}, #{content}, #{interpretation})
    </insert>


    <!-- 根据 ID 查询梦境 -->
    <select id="selectDreamByID"  resultType="com.yiweilai.DreamArchive.DTO.Dream">
        SELECT * FROM dream where id = #{id}
    </select>

</mapper>
