<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiweilai.DreamArchive.mapper.DreamMapper">

    <!-- 插入梦境 -->

    <insert id="insertDream" parameterType="com.yiweilai.DreamArchive.DTO.Dream">
        INSERT INTO dream(id, user_id, time, place, emotion, content, interpretation, created_at)
        VALUES (#{id}, #{userId}, #{time}, #{place}, #{emotion}, #{content}, #{interpretation}, NOW())
    </insert>


    <!-- 根据 ID 查询梦境 -->
    <select id="selectDreamByID"  resultType="com.yiweilai.DreamArchive.DTO.Dream">
        SELECT id, user_id as userId, time, place, emotion, content, interpretation, created_at as createdAt FROM dream where id = #{id}
    </select>

    <!-- 查询用户的所有梦境 -->
    <select id="selectByUserId" resultType="com.yiweilai.DreamArchive.DTO.Dream">
        SELECT id, user_id as userId, time, place, emotion, content, interpretation, created_at as createdAt
        FROM dream
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

</mapper>
